<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : SweetCourse 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130919

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">PickMeUp</a></h1>
			<span>The Pick Me Up that Picks You Up</span>
		</div>
	</div>
</div>
<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Welcome to PickMeUp</h2>
			<span class="byline">We are your solution to a bad day</span> </div>
		<div class="content">
			<p>What is <strong>PickMeUp</strong>? It is an app that keeps track of your texts and performs sentiment analysis on them. If you're having a bad day, our service 
				will be able to figure that out, and correspondingly will call a ride for you to the nearest venue that can give you a deal, where you can take the night
				off from your troubles before you face them head-on tomorrow.</p>
		</div>
	</div>
</div>
<div id="wrapper3">
	<div id="wrapper-blog" class="container">
		<div id="post">
			<p>this is a dummy video</p>
			<div class="post no-border" style='text-align: center'> <span class="date">September 21, 2014</span> <iframe width="640" height="480" src="//www.youtube.com/embed/ZMAyxQ77SMM" frameborder="0" allowfullscreen></iframe>
				<h2>How it works</h2>
				<p>The service will run in the background where it listens for when you need a friend. If it determines that you had a pretty shitty day,
					it will ask if you need a PickMeUp. If you say yes, you need only wait. If not, that's unfortunate, maybe next time, but in the mean time,
					cheer up bud. Stay Classy.</p>
			</div>
		</div>
	</div>
</div>
<div id="wrapper2">
	<div id="newsletter" class="container">
		<div class="title" style='margin-bottom: 0em'>
			<h2>Download on the AppStore</h2>
			<span class="byline">Never let a day end badly</span><br><br>
			<a style='color: #4183D7'>Dummy Link to App Store</a>
		</div>
	</div>
</div>
<div id="copyright">
	<p>Copyright (c) 2013 PickMeUpApp.com. All rights reserved.  |  Design by CaptJakk</p>
</div>
</body>
</html>
